//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.10.02
//Part Number: GW2A-LV55PG484C8/I7
//Device: GW2A-55
//Device Version: C
//Created Time: Wed 11 06 15:08:17 2024

IO_LOC "O_dout_p[3]" C18,C19;
IO_PORT "O_dout_p[3]" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=2.5;
IO_LOC "O_dout_p[2]" A17,B17;
IO_PORT "O_dout_p[2]" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=2.5;
IO_LOC "O_dout_p[1]" C14,C15;
IO_PORT "O_dout_p[1]" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=2.5;
IO_LOC "O_dout_p[0]" A22,B22;
IO_PORT "O_dout_p[0]" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=2.5;
IO_LOC "O_clkout_p" C9,C10;
IO_PORT "O_clkout_p" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=2.5;
IO_LOC "I_din_p[3]" A2,A3;
IO_PORT "I_din_p[3]" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "I_din_p[2]" B6,A6;
IO_PORT "I_din_p[2]" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "I_din_p[1]" A9,A10;
IO_PORT "I_din_p[1]" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "I_din_p[0]" A11,A12;
IO_PORT "I_din_p[0]" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "I_clkin_p" A15,B15;
IO_PORT "I_clkin_p" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "hs" L19;
IO_PORT "hs" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "vs" F22;
IO_PORT "vs" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "scan4" C21;
IO_PORT "scan4" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "scan3" B21;
IO_PORT "scan3" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "scan2" D20;
IO_PORT "scan2" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "scan1" E20;
IO_PORT "scan1" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "GCLK" F20;
IO_PORT "GCLK" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "SDI" F19;
IO_PORT "SDI" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "DCLK" C20;
IO_PORT "DCLK" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "LE" N19;
IO_PORT "LE" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "O_led[3]" T17;
IO_PORT "O_led[3]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_led[2]" U17;
IO_PORT "O_led[2]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_led[1]" U19;
IO_PORT "O_led[1]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_led[0]" U18;
IO_PORT "O_led[0]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "I_rst_n" AB3;
IO_PORT "I_rst_n" IO_TYPE=LVCMOS25 PULL_MODE=UP BANK_VCCIO=2.5;
IO_LOC "I_clk" M19;
IO_PORT "I_clk" IO_TYPE=LVCMOS25 PULL_MODE=UP BANK_VCCIO=2.5;
IO_LOC "key" T18;
IO_PORT "key" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;
