//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.10 (64-bit)
//Part Number: GW2A-LV55PG484C8/I7
//Device: GW2A-55
//Device Version: C
//Created Time: Mon 08 26 18:10:34 2024
IO_LOC "scan4" C21;
IO_PORT "scan4" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "scan3" B21;
IO_PORT "scan3" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "scan2" D20;
IO_PORT "scan2" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "scan1" E20;
IO_PORT "scan1" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "GCLK" F20;
IO_PORT "GCLK" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "SDI" F19;
IO_PORT "SDI" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "DCLK" C20;
IO_PORT "DCLK" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "LE" N19;
IO_PORT "LE" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "I_rst_n" AB3;
IO_PORT "I_rst_n" IO_TYPE=LVCMOS25 PULL_MODE=UP BANK_VCCIO=2.5;
IO_LOC "I_clk" M19;
IO_PORT "I_clk" IO_TYPE=LVCMOS25 PULL_MODE=UP BANK_VCCIO=2.5;
